<header role="banner" class="py-6">
    <div class="container mx-auto px-8 flex space-x-6 justify-between">
        <a href="{{ url('/') }}" class="font-bold">{{ siteName }}</a>
        <nav aria-label="{{ 'Main navigation' }}">
            <ul class="flex space-x-6">
                <li><a href="{{ url('') }}">Home</a></li>
                <li><a href="{{ url('ui-kit') }}">UI Kit</a></li>
            </ul>
        </nav>
    </div>
</header>
