{% extends '_layouts/master' %}

{% block criticalCss %}
    {{ source('_includes/critical-css/index_critical.min.css', true) }}
{% endblock %}

{% block content %}
    <example-component>
        <div class="leading-normal flex justify-center items-center text-center p-6 w-screen h-screen">
            <div class="max-w-sm">
                <div class="bg-white shadow-lg rounded-lg py-8 px-6">
                    <h1 class="m-0 leading-none font-semibold text-3xl">👋 {{ 'Hi!'|t }}</h1>
                    <p class="my-6 text-gray-600">{{ 'You have successfully started a new Craft CMS project!'|t }}</p>
                    <a href="{{ url('cms') }}" class="inline-block no-underline bg-white hover:bg-grey-lightest text-white py-2 px-6 bg-blue-600 rounded-full">{{ 'Log in to the CMS'|t }} &rarr;</a>
                </div>
            </div>
        </div>
    </example-component>
{% endblock %}
