{% extends '_layouts/master' %}

{% block criticalCss %}
    {{ source('_includes/critical-css/index_critical.min.css', true) }}
{% endblock %}

{% block content %}
    <div class="leading-normal flex justify-center items-center text-center p-6 w-screen h-screen">
        <div class="max-w-sm">
            <div class="bg-white shadow-lg rounded-lg py-8 px-6">
                {{ inlineSvg('../resources/img/svg/logo', 'w-16 mx-auto') }}
                <p class="my-6 text-gray-700">{{ 'You have successfully started a new Craft CMS project!'|t }}</p>
                <a href="{{ url(getenv('CP_TRIGGER')) }}" class="inline-block no-underline py-2 px-6 bg-gray-300 text-gray-700 hover:text-gray-900 rounded-full">{{ 'Log in to the CMS'|t }} &rarr;</a>
            </div>
        </div>
    </div>
{% endblock %}
