{%- set useCriticalCss = (block('criticalCss')|length and not craft.app.config.general.devMode) ? true : false -%}

<!doctype html>
<html lang="{{ craft.app.language|slice(0, 2) }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="csrf-token" content="{{ craft.app.request.csrfToken }}">
        <link rel="home" href="{{ url('') }}">
        {% include '_includes/meta/icons' %}
        {% if useCriticalCss %}
            <style>
                {% block criticalCss '' %}
            </style>
        {% endif %}

        <style>[x-cloak] { display: none; }</style>

        <link rel="{{ useCriticalCss ? 'preload' : 'stylesheet' }}" href="{{ rev('/css/main.css') }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="{{ rev('/css/main.css') }}"></noscript>
    </head>
    <body class="body">
        <noscript>This website works best when you have JavaScript enabled.</noscript>

        {% include '_includes/molecules/skip-link' %}

        {% if craft.app.config.general.devMode %}
            {% include '_includes/dev/breakpoint-helper' %}
        {% endif %}

        {% block body '' %}

        {% block beforeScripts '' %}
        <script src="{{ rev('/js/app.js') }}" defer></script>
        {% block afterScripts '' %}
    </body>
</html>
